<ion-card class="carta" [ngClass]="classeIdentidade">
  <div class="carta-topo">
    <div class="carta-titulo">
      <h2 class="carta-nome">{{ carta.nome }}</h2>
      <span class="carta-tipo">{{ carta.tipo }}</span>
    </div>

    <div class="custo-mana">
      <span
        *ngFor="let s of simbolosMana"
        class="pip"
        [ngClass]="s.classe"
        >{{ s.texto }}</span
      >
    </div>
  </div>

  <div class="carta-corpo">
    <p class="carta-texto">{{ carta.conteudo }}</p>
  </div>

  <div class="carta-rodape">
    <span class="valor-mana" title="Valor de mana">CMC {{ carta.valor_mana }}</span>

    <div class="acoes">
      <ion-button
        fill="clear"
        size="small"
        class="acao-editar"
        (click)="editar.emit(carta)"
      >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        size="small"
        class="acao-excluir"
        (click)="excluir.emit(carta)"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </div>

    <span class="preco">R$ {{ carta.preco | number: '1.2-2' }}</span>
  </div>
</ion-card>
