<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-grixis">
    <ion-title>Magic Cards</ion-title>
    <!-- Navegacao no header -->
    <ion-buttons slot="end">
      <ion-button class="nav-link ativo" routerLink="/home">Home</ion-button>
      <ion-button class="nav-link" routerLink="/cartas">Cartas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-grixis">
  <div class="home-centro">
    <h1 class="home-titulo">Magic Cards</h1>
    <p class="home-sub">Sua coleção em chamas azuis</p>

    <ion-button class="botao-entrar" expand="block" routerLink="/cartas">
      Ver coleção de cartas
    </ion-button>
  </div>
</ion-content>
