<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-grixis">
    <ion-title>Coleção Magic</ion-title>
    <ion-buttons slot="end">
      <ion-button class="nav-link" routerLink="/home">Home</ion-button>
      <ion-button class="nav-link ativo" routerLink="/cartas">Cartas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="conteudo-grixis">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-grixis">
      <ion-title size="large">Coleção Magic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="erro" class="erro">{{ erro }}</div>

  <div class="contador" *ngIf="!erro">
    <span class="contador-num">{{ cartas.length }}</span> cartas na coleção
  </div>

  <!-- Cada carta recebe os handlers de editar/excluir -->
  <div class="lista">
    <app-lista-cartas
      *ngFor="let c of cartas"
      [carta]="c"
      (editar)="editarCarta($event)"
      (excluir)="excluirCarta($event)"
    ></app-lista-cartas>
  </div>

  <!-- Botao flutuante para CRIAR nova carta -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab-novo" (click)="novaCarta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
